{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}
    <title>EHFPI - Search</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    {% load tableSort %}
    {% load getDict %}
    {% load splitString %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/search.css' %}"/>
    <script src='/static/search/search.js'></script>
    {#    <script src='/static/browse/jquery.fileDownload.js'></script>#}
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery.fileDownload/1.4.2/jquery.fileDownload.js'></script>

    <div class="main">

    <div id="title">
        <ol class="breadcrumb">
            <li><a href="{% url 'ehf.views.index' %}">Home</a></li>
            <li><a href="{% url 'search:index' %}">Search</a></li>
            <li class="active">Search Result</li>
        </ol>
    </div>


    <div id="des">
        Query "<b><span id="query">{{ query }}</span></b>" in "<b><span
            id="searchType">{{ searchType }}</span></b>" returns
        <span id="resultNumber"><b>{{ result | length }}</b></span>
        entr{{ result|length|pluralize:"y,ies" }}, which includes <span><b>{{ publicationNum }}</b></span>
        publication{{ publicationNum|pluralize }}, <span><b>{{ ehfNum }}</b></span> EHF gene{{ ehfNum|pluralize }}.

    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Select columns to display</h4>
                </div>
                <div class="modal-body">
                    <div class="checkboxAll">
                        <label class="checkbox-inline"><input type="checkbox" id="selectAllColumns" value="All"
                                                              onclick="changeState(this)"><b>Select
                            All</b></label>
                        <table class="checkTable">
                            <tr class="tableGroup">
                                <td colspan="3">Gene Info:</td>
                            </tr>

                            <tr>
                                {% for item1,item2 in columns %}
                                    <td><label class="checkbox-inline"><input type="checkbox"
                                                                              name="checkboxColumn"
                                                                              id="checkboxColumn"
                                                                              value="{{ item1 }}"> {{ item2 }}
                                    </label></td>
                                    {% ifequal forloop.counter 3 %}
                                        </tr>
                                        <tr>
                                    {% endifequal %}
                                {% ifequal forloop.counter 6 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 9 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 12 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 15 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 17 %}
                                    </tr>
                                    <tr class="tableGroup">
                                        <td colspan="3">Pathogen Info:</td>
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 20 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 23 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 26 %}
                                    </tr>
                                    <tr class="tableGroup">
                                        <td colspan="3">Publication Info:</td>
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 29 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 32 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 33 %}
                                    </tr>
                                    <tr class="tableGroup">
                                        <td colspan="3">Screen Info:</td>
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 36 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 39 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 42 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% endfor %}
                                </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                            onclick="changeColumns(this);">
                        Save changes
                    </button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div id="csrf" style="display:none" value="{% csrf_token %}"></div>
    <div id="functionDivWrapper">
        <table>
            <tr>
                <td id="leftTd">
                    <div id="functionDiv" class="functionDiv">
                        <div id="selectHint" class="selectHint">
                            <b><span id="selectNumber">0</span></b> items selected
                        </div>
                        <input type="checkbox" id="selectAllPage" value="selectAllPage" onclick="selectAllPage(this);">
                        <label id="selectAllPage"> Select all records </label>

                        <span id="buttonGroup">
                            <button id="downloadFunc" class="btn btn-primary btn-sm"
                                    onclick="performFunction('download');">Download
                            </button>
                            <button id="geaFunc" class="btn btn-primary btn-sm" onclick="performFunction('gea');">GEA
                                Analysis
                            </button>
                            <button id="networkFunc" class="btn btn-primary btn-sm"
                                    onclick="performFunction('network');">Network Analysis
                            </button>
                            <button id="pipFunc" class="btn btn-primary btn-sm" onclick="performFunction('pip');">PIP
                                Analysis
                            </button>
                        </span>
                        <span id="searchAnalysisTip"><a href="{% url 'help:searchHelp' %}#customSearch" target="_blank"><img
                                src="/static/images/info_20x20.png"></a></span>

                        <!-- Modal -->
                        <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog"
                             aria-labelledby="downloadModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="downloadModalLabel">Select columns to download</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="checkboxAll">
                                            <label class="checkbox-inline"><input type="checkbox" id="selectAllColumns"
                                                                                  value="All"
                                                                                  onclick="changeState(this)"><b>Select
                                                All</b></label>
                                            <table class="checkTable">
                                                <tr class="tableGroup">
                                                    <td colspan="3">Gene Info:</td>
                                                </tr>
                                                <tr>
                                                    {% for item1,item2 in columns %}
                                                        <td><label class="checkbox-inline"><input type="checkbox"
                                                                                                  name="checkboxColumn"
                                                                                                  id="checkboxDownload"
                                                                                                  value="{{ item1 }}"> {{ item2 }}
                                                        </label></td>
                                                        {% ifequal forloop.counter 3 %}
                                                            </tr>
                                                            <tr>
                                                        {% endifequal %}
                                                    {% ifequal forloop.counter 6 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 9 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 12 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 15 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 17 %}
                                                        </tr>
                                                        <tr class="tableGroup">
                                                            <td colspan="3">Pathogen Info:</td>
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 20 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 23 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 26 %}
                                                        </tr>
                                                        <tr class="tableGroup">
                                                            <td colspan="3">Publication Info:</td>
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 29 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 32 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 33 %}
                                                        </tr>
                                                        <tr class="tableGroup">
                                                            <td colspan="3">Screen Info:</td>
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 36 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}
                                                    {% ifequal forloop.counter 39 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}

                                                    {% ifequal forloop.counter 42 %}
                                                        </tr>
                                                        <tr>
                                                    {% endifequal %}

                                                    {% endfor %}
                                                    </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm"
                                                onclick="downloadData(this);">
                                            Download
                                        </button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->

                    </div>
                </td>
                <td id="rightTd">
                    <div id="displayBar" class="displayBar">

                        <!-- Button trigger modal -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Custom Display Columns
                        </button>

                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="preparing-file-modal" title="Preparing report..." style="display: none;">
        We are preparing your file, please wait...

        <div class="ui-progressbar-value ui-corner-left ui-corner-right"
             style="width: 100%; height:22px; margin-top: 20px;"></div>
    </div>

    <div id="error-modal" title="Error" style="display: none;">
        There was a problem generating your file, please try again.
    </div>

    <div class="tablediv">
    {% if  result %}
        <table class="table table-hover table-striped table-bordered table-condensed" id="resultTable">
        <thead id="tableHead">
        <tr class="tableHead">
            <th id="tableSelectAll">
                <input type="checkbox" id="selectCurrentPage" value="selectCurrentPage"
                       onclick="selectCurrentPage(this)">
            </th>
            {% for key,value in displayColumnsDic %}
                <th name="{{ key }}">
                    <a href="?{% url_replace request 'order_by' key %}">{{ value }}</a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody id="tableBody">
        {% autopaginate result %}
        {% for res in result %}
            <tr>
            <td id="tableSelect">
                <input type="checkbox" name="tableRowCheckBox"
                       id={{ res.ehfpiAcc }} value={{ res.ehfpiAcc }} onclick="stillSelectAll(this);">
            </td>
            {% for key,value in displayColumnsDic %}
                {% ifequal key 'ehfpiAcc' %}
                    <td>
                        <a href="{% url 'search:searchDetail' res.ehfpiAcc %}"
                           target="_blank" title="click to view details">{{ res.ehfpiAcc }}</a>
                    </td>
                {% endifequal %}

                {% ifequal key 'entrezId' %}
                    <td>
                        {% ifequal res.entrezId "-" %}
                            {{ res.entrezId }}
                        {% else %}
                            <a href="http://www.ncbi.nlm.nih.gov/gene/{{ res.entrezId }}"
                               target="_blank" title="link to NCBI gene">{{ res.entrezId }}</a>
                        {% endifequal %}
                    </td>
                {% endifequal %}

                {% ifequal key 'uniprotId' %}
                    <td>
                        {% ifequal res.uniprotId "-" %}
                            {{ res.uniprotId }}
                        {% else %}
                            <a href="http://www.uniprot.org/uniprot/{{ res.uniprotId }}"
                               target="_blank" title="link to uniprot website">{{ res.uniprotId }}</a>
                        {% endifequal %}

                    </td>
                {% endifequal %}

                {% ifequal key 'species' %}
                    <td>
                        {% ifequal res.species "-" %}
                            {{ res.species }}
                        {% else %}
                            <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ res.speciesTaxonomy }}"
                               target="_blank" title="link to NCBI taxonomy">{{ res.species }}</a>
                        {% endifequal %}

                    </td>
                {% endifequal %}

                {% ifequal key 'genus' %}
                    <td>
                        {% ifequal res.genus "-" %}
                            {{ res.genus }}
                        {% else %}
                            <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ res.genusTaxonomy }}"
                               target="_blank" title="link to NCBI taxonomy">{{ res.genus }}</a>
                        {% endifequal %}

                    </td>
                {% endifequal %}

                {% ifequal key 'family' %}
                    <td>
                        {% ifequal res.family "-" %}
                            {{ res.family }}
                        {% else %}
                            <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ res.familyTaxonomy }}"
                               target="_blank" title="link to NCBI taxonomy">{{ res.family }}</a>
                        {% endifequal %}

                    </td>
                {% endifequal %}

                {% ifequal key 'kingdom' %}
                    <td>
                        {% ifequal res.kingdom "-" %}
                            {{ res.kingdom }}
                        {% else %}
                            <a href="http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ res.kingdomTaxonomy }}"
                               target="_blank" title="link to NCBI taxonomy">{{ res.kingdom }}</a>
                        {% endifequal %}

                    </td>
                {% endifequal %}

                {% ifequal key 'geneSymbol' %}
                    <td>{{ res.geneSymbol }}</td>
                {% endifequal %}

                {% ifequal key 'geneDescription' %}
                    <td>{{ res.geneDescription }}</td>
                {% endifequal %}

                {% ifequal key 'previousName' %}
                    <td>{{ res.previousName }}</td>
                {% endifequal %}

                {% ifequal key 'synonyms' %}
                    <td>{{ res.synonyms }}</td>
                {% endifequal %}

                {% ifequal key 'proteinName' %}
                    <td>{{ res.proteinName }}</td>
                {% endifequal %}

                {% ifequal key 'ensemblGeneId' %}
                    <td>{{ res.ensemblGeneId }}</td>
                {% endifequal %}

                {% ifequal key 'targetOrganism' %}
                    <td>{{ res.targetOrganism }}</td>
                {% endifequal %}

                {% ifequal key 'drosophilaGene' %}
                    <td>{{ res.drosophilaGene }}</td>
                {% endifequal %}

                {% ifequal key 'humanHomolog' %}
                    <td>{{ res.humanHomolog }}</td>
                {% endifequal %}

                {% ifequal key 'go' %}
                    <td id="go">
                        {% for goId in res.go|splitStr:',' %}
                            <a href="http://amigo.geneontology.org/amigo/term/{{ goId }}" target="_blank">{{ goId }}</a>
                        {% endfor %}
                    </td>
                {% endifequal %}

                {% ifequal key 'pathway' %}
                    <td id="pathway">
                        {% for keggId in res.pathway|splitStr:',' %}
                            <a href="http://www.genome.jp/kegg-bin/show_pathway?{{ keggId }}" target="_blank">{{ keggId }}</a>
                        {% endfor %}
                    </td>
                {% endifequal %}

                {% ifequal key 'isVTP' %}
                    <td>{{ res.isVTP |yesno:"Yes,No,Perhaps" }}</td>
                {% endifequal %}

                {% ifequal key 'resources' %}
                    <td>{{ res.resources }}</td>
                {% endifequal %}

                {% ifequal key 'geneNote' %}
                    <td>{{ res.geneNote }}</td>
                {% endifequal %}

                {% ifequal key 'fullName' %}
                    <td>{{ res.fullName }}</td>
                {% endifequal %}

                {% ifequal key 'abbreviation' %}
                    <td>{{ res.abbreviation }}</td>
                {% endifequal %}

                {% ifequal key 'aliases' %}
                    <td>{{ res.aliases }}</td>
                {% endifequal %}

                {% ifequal key 'strain' %}
                    <td>{{ res.strain }}</td>
                {% endifequal %}

                {% ifequal key 'group' %}
                    <td>{{ res.group }}</td>
                {% endifequal %}

                {% ifequal key 'title' %}
                    <td>{{ res.title }}</td>
                {% endifequal %}

                {% ifequal key 'author' %}
                    <td>{{ res.author }}</td>
                {% endifequal %}

                {% ifequal key 'pubmedId' %}
                    <td>{{ res.pubmedId }}</td>
                {% endifequal %}

                {% ifequal key 'year' %}
                    <td>{{ res.year }}</td>
                {% endifequal %}

                {% ifequal key 'journal' %}
                    <td>{{ res.journal }}</td>
                {% endifequal %}

                {% ifequal key 'abstract' %}
                    <td>{{ res.abstract }}</td>
                {% endifequal %}


                {% ifequal key 'doi' %}
                    <td>{{ res.doi }}</td>
                {% endifequal %}


                {% ifequal key 'scope' %}
                    <td>{{ res.scope }}</td>
                {% endifequal %}


                {% ifequal key 'assayType' %}
                    <td>{{ res.assayType }}</td>
                {% endifequal %}


                {% ifequal key 'reagent' %}
                    <td>{{ res.reagent }}</td>
                {% endifequal %}


                {% ifequal key 'phenotype' %}
                    <td>{{ res.phenotype }}</td>
                {% endifequal %}


                {% ifequal key 'bioModelDescription' %}
                    <td>{{ res.bioModelDescription }}</td>
                {% endifequal %}


                {% ifequal key 'confirmatoryScreenDescription' %}
                    <td>{{ res.confirmatoryScreenDescription }}</td>
                {% endifequal %}


                {% ifequal key 'primaryScreenDescription' %}
                    <td>{{ res.primaryScreenDescription }}</td>
                {% endifequal %}


                {% ifequal key 'hitsNumber' %}
                    <td>{{ res.hitsNumber }}</td>
                {% endifequal %}


                {% ifequal key 'confirmedHitsNumber' %}
                    <td>{{ res.confirmedHitsNumber }}</td>
                {% endifequal %}


                {% ifequal key 'primaryHitsNumber' %}
                    <td>{{ res.primaryHitsNumber }}</td>
                {% endifequal %}

                {% ifequal key 'screenNote' %}
                    <td>{{ res.screenNote }}</td>
                {% endifequal %}

            {% endfor %}


            </tr>
        {% endfor %}
        </tbody>
        </table>

    {% else %}
        <p>No results.</p>
        <p>Try other search items.
    {% endif %}
    </div>
    {% if result %}
        <div id="pager">{% paginate %}</div>
    {% endif %}

    <div class="gotop">
        <a href="#" title="Back to the top of the page"><span class="glyphicon glyphicon-circle-arrow-up"></span>
            Top</a>
    </div>

    </div>
{% endblock %}