{% extends "base.html" %}
{% block title %}
    <title>EHFPI - About</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/about.css' %}"/>

    <div class="main">
        <div class="siteIndex">
            <ol class="breadcrumb">
                <li><a href="{% url 'ehf.views.index' %}">Home</a></li>
                <li><a href="{% url 'about:index' %}">About</a></li>
                <li class="active">Site Index</li>
            </ol>

            <div class="indexContent">
                <div class="indexRow">
                    <a href= {% url 'search:advancedSearch' %} target="_blank">Advanced Search</a> - Advanced search for all EHFPI data
                </div>
                <div class="indexRow">
                    <a href= {% url 'browse:guide' %} target="_blank">Browse</a> - Browse all EHFPI data
                </div>
                <div class="indexRow">
                    <a href= {% url 'download:custom' %} target="_blank">Custom Download</a> - Custom downloads
                </div>
                <div class="indexRow">
                    <a href= {% url 'rest:index' %} target="_blank">REST</a> - Restful Web Service
                </div>
                <div class="indexRow">
                    <a href= {% url 'analysis:index' %} target="_blank">Analysis</a> - Analysis tools, including gene enrichment analysis,
                    overlap analysis, pathogen interacting proteins (PIPs) analysis, drug target analysis, GWAS candidate gene analysis
                </div>
                <div class="indexRow">
                    <a href= {% url 'news:index' %} target="_blank">News</a> - News archive
                </div>
                <div class="indexRow">
                    <a href= {% url 'about:submit' %} target="_blank">Submit</a> - Submit your own data or provide literature
                    information
                </div>
                <div class="indexRow">
                    <a href= {% url 'about:external' %} target="_blank">External Links</a> - Other useful resources
                </div>
                <div class="indexRow">
                    <a href= {% url 'about:contact' %} target="_blank">Contact</a> - Contact us
                </div>

                <div class="indexRow">
                    <a href= {% url 'help:index' %} target="_blank">Help</a> - Help documentation
                </div>
            </div>
        </div>
    </div>
{% endblock %}